tosca_definitions_version: tosca_simple_yaml_1_3

metadata:

  template_name: Open5GS SMF Component

imports:

- file: ../profiles/open5gs/profile.yaml
  namespace_prefix: 5g
- file: ../profiles/open5gs-kubernetes/profile.yaml
  namespace_prefix: k8s

topology_template:

  inputs:

    component:
      type: string
      default: smf
    version:
      type: string
      default: 2.3.0
    registry:
      type: string
      default: docker.io
    namespace:
      type: string
      default: workspace

  node_templates:

    component:
      type: k8s:Component
      capabilities:
        service:
          properties:
            type: ClusterIP
            ports:
            - name: gtpc # S5c, N11
              protocol: TCP
              targetPort: 2123
              port: 2123
            - name: gtpu # N4u (Sxu)
              protocol: TCP
              targetPort: 2152
              port: 2152
            - name: pfcp # N4 (Sxb)
              protocol: TCP
              targetPort: 8805
              port: 8805
            - name: frdi # Gx auth
              protocol: TCP
              targetPort: 3868
              port: 3868
            - name: sbi # 5G SBI (N7,N10,N11)
              protocol: TCP
              targetPort: 7777
              port: 7777

  substitution_mappings:

    node_type: 5g:SMF
